<% layout('layouts/boilerplate')%>

    <h1>
        <%= recipe.name %>
    </h1>

    <h2>
        <%= recipe.title %>
    </h2>

    <!-- <img src="<%=recipe.image%>" alt="">

    <p>
        <%= recipe.discription %>
    </p> -->

    <p>
        <a href="/recipes/<%=recipe._id%>/edit">Edit</a>
    </p>

    <p>
        <form action="/recipes/<%=recipe._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </p>

    <footer>
        <a href="/recipes">All Recipes</a>
    </footer>